body{
    background-color: rgb(234, 248, 103);
  /* font-family: 'Montserrat', sans-serif;  */
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 3px;
  font-style: normal;

}